<nav class="navbar navbar-expand-lg fixed-top mb-5 pb-3 shadow bg-body-tertiary " style="background-color:#B3005E;border:#B3005E">
  <div class="container-fluid">

    <a href="/admin/home" class="text-decoration-none text-white ">
      <h2 class="fw-bolder">ShopWine<i class="fa-solid fa-wine-bottle"></i></h2>
    </a>
  </div>
  </div>
  <!-- Container wrapper -->
</nav>