<style>
  /* The side navigation menu */
  .sidebar {
    margin: 0;
    padding: 0;
    background-color: white;
  }

  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    font-weight: bold;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
  }

  /* Active/current link */
  .sidebar a.active {
    background: linear-gradient(109.6deg, rgb(72, 200, 160) 11.2%, rgb(32, 40, 48) 91.3%);
    color: white;
  }

  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
  }
</style>


<a class="" id="hamburg" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
  aria-controls="offcanvasExample">
  <img class="shadow bg-body-tertiary rounded-4 bg-white" src='/images/hamburger.png' width="60px" height="60px">
</a>

<div class="offcanvas offcanvas-end w-25" data-bs-scroll="true" tabindex="-1" id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header ">
    <h5 class="offcanvas-title fw-bold" id="offcanvasExampleLabel">Menu</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="sidebar mb-5 ">
      <ul style="list-style: none;" class="ps-0">
        <li>
          <a class="d-none d-sm-block btn {{#if home}}active{{/if}}  rounded-pill" href="/admin/home">Dashboard</a>
          <a class="fs-3 d-sm-none btn {{#if home}}active{{/if}}  rounded-pill" href="/admin/home">
            <i class="fa-solid fa-gauge-high"></i></a>
        </li>

        <li>
          <a class="d-none d-sm-block btn {{#if users}}active{{/if}} rounded-pill" href="/admin/users">Users</a>
          <a class="fs-3 d-sm-none btn {{#if users}}active{{/if}} rounded-pill" href="/admin/users">
            <i class="fa-solid fa-users"></i></a>
        </li>

        <li>
          <a class="d-none d-sm-block btn {{#if Category}}active{{/if}}  rounded-pill"
            href="/admin/category">Category</a>
          <a class="fs-3 d-sm-none btn {{#if Category}}active{{/if}}  rounded-pill" href="/admin/category">
            <i class="fa fa-th-large" aria-hidden="true"></i></a>
        </li>

        <li>
          <a class="d-none d-sm-block btn {{#if products}}active{{/if}}  rounded-pill"
            href="/admin/products">Products</a>
          <a class="fs-3 d-sm-none btn {{#if products}}active{{/if}}  rounded-pill" href="/admin/products">
            <i class="fa-brands fa-untappd"></i></a>
        </li>

        

        <li>
          <a class="d-none d-sm-block btn {{#if orders}}active{{/if}} rounded-pill" href="/admin/orders">Orders</a>
          <a class="fs-3 d-sm-none btn {{#if orders}}active{{/if}} rounded-pill" href="/admin/orders">
            <i class="fa-solid fa-bag-shopping"></i></a>
        </li>

        
        <li>
          <a class="d-none d-sm-block btn {{#if sales}}active{{/if}}  rounded-pill" href="/admin/sales">Sales</a>
          <a class="fs-3 d-sm-none btn {{#if sales}}active{{/if}}  rounded-pill" href="/admin/sales">
            <i class="fa-solid fa-chart-line"></i></a>
        </li>

        <li>
          <a class="d-none d-sm-block btn {{#if coupon}}active{{/if}}  rounded-pill" href="/admin/coupons">Coupon</a>
          <a class="fs-3 d-sm-none btn {{#if coupon}}active{{/if}}  rounded-pill" href="/admin/coupons">
          <i class="fa-solid fa-gift"></i></a>
        </li>
      </ul>
    </div>

    <div class="bg-danger mt-5">
      <a class="d-none d-sm-block btn {{#if home}}active{{/if}}  rounded-pill" href="/admin/home">Dashboard</a>
          <a class="fs-3 d-sm-none btn {{#if home}}active{{/if}}  rounded-pill" href="/admin/home">
            <i class="fa-solid fa-gauge-high"></i></a>
    </div>
  </div>
</div>