<nav class="navbar navbar-expand-lg fixed-top mb-5 shadow bg-body-tertiary " style="background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);">
  <div class="container-fluid">

<h2 class="text-white fw-bolder">ShopWine<i class="fa-solid fa-wine-bottle"></i></h2>    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
        
        <!-- Link -->
        <li class="nav-item mr-auto">
          <a class="nav-link text-black fw-bolder" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black fw-bolder" href="/shop">Shop</a>
        </li>
        <li class="nav-item ml-auto">
          <a class="nav-link text-black fw-bolder" href="#">About</a>
        </li>
      </ul>
      

      <!-- Icons -->
      <ul class="navbar-nav d-flex flex-row me-5">       

        <li class="nav-item me-3 me-lg-0">
          <a href="/getcart" class="nav-link text-black">
          <i class="fas fa-shopping-cart"></i>
          <span class="badge text-bg-danger"></span>
          </a>
        </li>
        
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link text-black" href="/user-order"><i class="fa fa-user"></i></a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link text-black" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </li>

      </ul>

    </div>
  </div>
  <!-- Container wrapper -->
</nav>
