{{> adminNavbar}}
{{> adminSidebar Category='Category'}}
<div class="vh-100 pt-2 pb-5">
<div class="container me-0 mt-0 pt-2 ">
<h1>Add Category</h1>    
<form method="post" action="/admin/category/add">
  
<div class="form-group col-md-6 mt-3">
    <label for="name">Category Name</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="Category">
</div>
<div class="form-group col-md-6 mt-3">
    <label for="icon">Icon</label>
    <input type="text" class="form-control" name="icon" id="icon" placeholder="Icon">
</div>
  
<div class="form-group col-md-6 mt-3">
    <label for="color">Color</label>
    <input type="text" class="form-control" name="color" id="color" placeholder="Color">
</div>

 
  <button type="submit" class="btn btn-primary mt-4 px-5 btn-success">Add</button>
  {{#if message}}
  <div class="mt-4">
    <h6 class="text-danger">{{message}}</h6>
  </div>
  {{/if}}
</form>
</div>
</div>