{{> adminNavbar}}

<div style="background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);">
<div class="container-fluid vh-100 pb-0 px-5">

<div class="d-flex justify-content-between align-items-center">
<h1 class="pt-3 ms-3 mb-4  fw-bolder text-dark">Add Coupon</h1>    
{{> adminSidebar coupon='coupon'}}
</div>

<div class="col col-sm-7">
<div class="shadow bg-body-tertiary rounded-4 bg-white p-3 w-100">
<form action="/admin/add-coupon" method="post">
  
<div class="form-group col-md-6 mt-3">
    <label for="couponCode">Coupon Code</label>
    <input type="text" class="form-control" name="couponCode" placeholder="Enter Coupon Code" required>
</div>
<div class="form-group col-md-6 mt-3">
    <label for="expiryDate">Expiry Date</label>
    <input type="date" class="form-control" name="expiryDate" placeholder="Enter Expiry Date" required>
</div> 

<div class="form-group col-md-6 mt-3">
    <label for="discountPercentage">Discount Rate</label>
    <input type="number" class="form-control" name="discountPercentage" placeholder="Enter Discount Rate" required>
</div>

<div class="form-group col-md-6 mt-3">
    <label for="minDiscountAmount">Minimum Parchase Amount</label>
    <input type="number" class="form-control" name="minDiscountAmount" placeholder="Enter Minimum Parchase Amount" required>
</div>  

<button type="submit" class="btn btn-primary mt-4 px-5 btn-success">Create</button>
</form>
</div>
</div>

</div>
<footer class="container text-lg-start me-0" style="font-size:12px">
    <div class="text-center text-dark pb-5">
      © 2023 Copyright:
      <a class="text-dark text-decoration-none" href="#">ShopWine.com made with
        <span class="text-danger fs-6">❤</span> by - Neeraj </a>
    </div>
  </footer>
</div>