{{> adminNavbar}}
{{> adminSidebar home='home'}}
<div class="container me-0 pt-5 vh-100 ">    
        <div class="row ">
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="" alt="">
  
                    <div class="card-body">
                        <h5 class="card-title">User Management</h5>
                        <p class="card-text">
                            Manage user access to your account.Add, edit and delete users.
                        </p>
  
                        <a href="/admin/users" class="btn btn-outline-primary btn-sm">
                            Go to page
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="" alt="">
  
                    <div class="card-body">
                        <h5 class="card-title">Product Managemet</h5>
                        <p class="card-text">
                            Manage products in your site.Add, edit and delete products.
                        </p>
                          
                        <a href="/admin/products" class="btn btn-outline-primary btn-sm">
                            Go to page
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="" alt="">
  
                    <div class="card-body">
                        <h5 class="card-title">Category management</h5>
                            <p class="card-text">
                            Manage Category of each products.
                        </p>
                          
                        <a href="/admin/category" class="btn btn-outline-primary btn-sm">
                            Go to page
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>