{{> adminNavbar}}

<div style="background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);">
{{!-- container --}}    
<div class="container-fluid vh-100% pb-0 px-5">

{{!-- heading --}}
<div class="d-flex justify-content-between align-items-center">
<h1 class="pt-3 ms-3 mb-4 fw-bolder text-dark">Sales</h1>
{{> adminSidebar sales='sales'}}
</div>


<div class="my-3 py-3 dummydivforspace">
  <div></div>
</div>

{{!-- docs --}}
<div class="container mb-5 d-flex justify-content-around align-content-center text-center">    
<div>    
<p class="text-secondary">Total Product Sale Report&nbsp;<span class="text-dark fw-bolder"> Pdf file </span></p>
<a class="btn btn-danger download text-light " href="/admin/report-Download">Download here</a>
</div>
<div> 
<p class="text-secondary ">Total Product Sale Report &nbsp;<span class="text-dark fw-bolder">Excel file</span></p>
<a class="btn btn-success download text-light" href="/admin/excel-Data" >Download here</a>
</div>
</div>

{{!-- Totals --}}
<div class="row row-cols-1 row-cols-md-4 g-4 mt-3 ">
  <div class="col">
    <div class="card p-3 shadow bg-body-tertiary rounded-4 bg-white text-center border border-white">
      <i class="fs-1 fa-solid fa-money-check-dollar"></i>
      <h3>Total Income</h3>
      <h4>{{totalIncome}}</h4>
      
      
    </div>
  </div>

  <div class="col">
    <div class="card p-3 shadow bg-body-tertiary rounded-4 bg-white text-center border border-white">
     <i class="fs-1 fa-solid fa-users"></i> 
      <h3>Customers</h3>
      <h4>{{totalCustomer}}</h4>
    </div>
  </div>
  <div class="col">
    <div class="card p-3 shadow bg-body-tertiary rounded-4 bg-white text-center border border-white">
      <i class="fs-1 fa-solid fa-truck-fast"></i>
      <h3>Products</h3>
      <h4>{{totalProduct}}</h4>
    </div>
  </div>
  <div class="col">
    <div class="card p-3 shadow bg-body-tertiary rounded-4 bg-white text-center border border-white">
        <i class="fs-1 fa-solid fa-receipt"></i>
      <h3>Total Order</h3>
      <h4>{{totalOrder}}</h4>      
      
    </div>
  </div>
</div>

<div class="my-1 py-1 dummydivforspace">
  <div></div>
</div>
{{!-- chart --}}
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card p-4 shadow bg-body-tertiary rounded-4 bg-white p-3 border border-white">
      <div class=" " ><canvas class=""  id="products"></canvas></div>
    </div>
  </div>
  <div class="col">
    <div class="card p-4 shadow bg-body-tertiary rounded-4 bg-white p-3 border border-white">
      <div class=" " ><canvas id="doughnut-chart" width="70vw" height="35%"></canvas></div>
    </div>
  </div>
  
</div>


</div>
{{!-- !container --}}



<div class="my-5 py-4 dummydivforspace">
  <div></div>
</div>

<footer class="container-fluid text-lg-start" style="font-size:12px" >
<div class="text-center text-black pb-5 fw-normal">
  © 2023 Copyright:  
  <a class="text-black text-decoration-none" href="#">ShopWine.com made with 
    <span class="text-danger fs-6">❤</span> by - Neeraj </a>
</div>
</footer> 

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="/javascript/chart.js"></script>