{{> userNavbar}}

  <div id="container" class="py-5">
    <h1 class="mt-5 mb-4">Enter your phone number</h1>
    <div>
        <form id="otp" action="/forgot" method="post">        
        <div class="row mb-4">
        <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone number">
        </div>
        <div class="row mb-3">
        <input type="submit" id="submit" class="btn btn-success" value="Submit">
        </div>
        <div class="row px-auto">          
        <b style="line-height:2rem" id="err" class="text-danger">{{message}}</b>
        </div>
    </div>    
    </div>
  </div>
