{{!-- 

  <div id="container" >
    <h1 class="mt-5 mb-4">Log In</h1>
    <div>
    <form id="login" action="/login" onsubmit="return login()" method="post">        
       
        <div class="row mb-4">
        <input type="text" name="email" id="email" class="form-control" placeholder="Email">
        </div>
        <div class="row mb-4">
        <input type="password" name="password" id="password" class="form-control" placeholder="Password">
        </div>
        <div class="row mb-4 d-flex flex-row-reverse">
        <a href="/forgot">Forgot Password</a>
        </div>
        <div class="row mb-4">
        <input type="submit" id="submit" class="btn btn-success" value="Login">
        </div>
        <div class="row px-auto">
        {{#if message}}  
        <b style="line-height:2rem" id="err" class="text-danger">{{message}}</b>
        {{else}}
        <b id="error_L" class="text-danger"></b>
        {{/if}}
        </div>
        <div class="row mx-auto">
        <b class="px-5 mx-5">Don't have an account?  <span><a href="/register">Register Here</a></span></b>
        </div>
    </form>
    </div>
  </div> --}}
{{> userNavbar}}
<section class="vh-100% vw-100">
  <div class="container-flu
  ">
    <div class="row">
      <div class="col-sm-6 text-black">        

        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

          <form id="login" action="/login" onsubmit="return login()" method="post" style="width: 23rem">

            <h3 class="fw-normal text-black mb-3 pb-3" style="letter-spacing: 1px;">ShopWine helps you to get drink at your doors.</h3>

            <div class="form-outline mb-4">
              <label class="form-label" for="form2Example18">Email address</label>
              <input type="text" name="email" id="email" class="form-control mb-2" >              
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="form2Example28">Password</label>
              <input type="password" name="password" id="password" class="form-control mb-2">              
            </div>
              
            <div class="pt-1 mb-4">
              <input type="submit" id="submit" class="btn btn-success" value="Login">
            </div>
            
            <p class="small mb-3 pb-lg-2"><a class="text-muted" href="/forgot">Forgot password?</a></p>
            <p>Don't have an account? <a href="/register" class="link-info">Register here</a></p>
            <div class="row px-auto">
            {{#if message}}  
            <b style="line-height:3rem" id="err" class="text-danger">{{message}}</b>
            {{else}}
            <b id="loginerror" class="text-danger"></b>
            {{/if}}
            </div>
            

          </form>

        </div>

      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="https://c4.wallpaperflare.com/wallpaper/905/960/1010/landscape-table-wine-bottle-wallpaper-preview.jpg"
          alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
      </div>
    </div>
  </div>
</section>

<script src="/javascript/script.js"></script>
