{{> userNavbar}}
<div class="vh-100 container-fluid  mt-1">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>Done</h5>
                </div>
                <div class="card-body cart text-center">
                    <img src="https://cdn-icons-png.flaticon.com/512/1731/1731303.png"
                        width="250" height="250" class="img-fluid mb-4 mr-3">

                    <h3><strong>Order placed successfully</strong></h3>
                    <a href="http://localhost:3000/home" class="btn btn-success cart-btn-transform m-3"
                        data-abc="true">Done</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>