{{> adminNavbar}}
<section class="vh-50 m-5" class="pdf">
    <h2>TOTAL PRODUCT SALES</h2>

 <table class="table">
        <thead>
            <tr>
            <td>Product Name</td>
            <td>Total Amount</td>
            </tr>
        </thead>
        <tbody>
            {{#each productSale}}
            <tr>
                <td> ->  {{_id}}</td>
                <td>RS . {{totalAmount}}</td>
            </tr>
            {{/each}}                 
        </tbody>
    </table>
</section>